@charset "UTF-8";


form.has-icaptcha div.widget-icaptcha-wrapper{
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  margin: 0 0 20px -25px;
  padding: 5px 5px 25px 25px;
}

form.has-icaptcha div.widget-icaptcha-wrapper.error{
  border-color: #ff0000;
}

form.has-icaptcha div.widget-icaptcha-wrapper label.icaptcha-error{
  display: none;
  position: absolute;
}

form.has-icaptcha div.widget-icaptcha-wrapper.error label{
  display: block;
}